<div class="container formColor formaContact">
    <form class="form-horizontal" class="contactFormStyle" name="aboutUsForm" ng-submit="aboutUsForm.$valid && contactCtrl.sendContact()">

        <div class="form-group">
            <div class="row">
                <div class="col-xs-12">
                    <h3>About us</h3>
                </div>
            </div>

            <p class="text-justify">
                If you've lost a pet before, there is nothing worse than the worry of where your animal is, and if they will ever return.
            </p>
            <p class="text-justify">
                Find My Pet is the first of it’s kind in th. We are about pets, not profit. FindMypet in partnership with Volunteers in UE has come together to launch a FREE National Microchipping registry, where pet owners register their animal’s microchip number
                and your pet guardian’s details.</p>

            <p class="text-justify">This FREE service, will allow anyone who finds your pet to search our National Registry to reunite you quicker, and with less hassle. We are passionate about pets, and want to ensure more lost and found pets are reunited with their owners.
            </p>

        </div>

    </div>

    <div class="col-md-2"></div>

    <!-- <div class="textBoxError"><label class="fieldsRequired">* Required fields</label></div> -->

</form>
</div>
