<div class="container-fluid" ng-controller="chatController as chatCtrl">
    <ul class="collection">
        <li class="collection-item avatar" ng-repeat="message in messages">
            <img src="{{userData.getImage()}}" alt="{{message.sender_uuid}}" class="circle">
            <!--The "pubnub id" of the person that sends the message -->
            <span class="title">{{message.sender_uuid}}</span>
            <p>
                <i class="prefix mdi-action-alarm"></i>
                <span class="message-date">{{message.date | date:"MM/dd/yyyy 'at' h:mma"}}</span>
            </br>
            {{ message.content }}</p>
    </li>
</ul>
<footer class="teal chatfootear">
    <form ng-submit="sendMessage()" class="container">
        <div class="row">
            <div class="input-field col s10">
                <i class="prefix mdi-communication-chat"></i>
                <input ng-model="messageContent" type="text" placeholder="Type your message">
                <span class="chip left">
                    <img src="{{userData.getImage()}}">
                    {{uuid}}
                </span>
            </div>
            <div class="input-field col s2">
                <button type="submit" class="waves-effect waves-light btn-floating btn-large">
                    <i class="mdi-content-send"></i>
                </button>
            </div>
        </div>
    </form>
</footer>
</div
